body{
	font-family: 'lato', sans-serif;
}
img	{
	max-width: 50%;
}
.espacio-abajo{
	margin-bottom: 100px;
}

.contenedor{
	background-color:#CCC;
	width:1000px;
	height:450px;
	margin-left:200px;
	margin-right:200px;
}

.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px;

}

.pacifico{
	font-family: 'Pacifico',cursive;
}
.grande{
	font-size: 4em;
}
.verde{
	color: #5379A6
}
.espacio-izquierda{
	margin-left: 2em;
}
.espacio-derecha{
	margin-right: 2em;
}
a,.azul{
	color: #009FFF;
}

.no-lista li{
	list-style-type: none;
}
.no-lista {
	margin: 0px;
	padding: 0px;
}

.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: 0px;
}